<div class="header">
  <div class="title">
    {{ todo().title }}
  </div>

  <button
    app-action-button
    icon="favorite"
    [class.active]="todo().isFavorite"
    (click)="handleToggleFavorite()"
  ></button>

  <button
    app-action-button
    negative
    icon="close"
    (click)="handleDeleteTodo()"
  ></button>
</div>

<div class="param">
  <div class="label">
    Created at:
  </div>

  {{ todo().createdAt | date: 'MMM dd, yyyy' }}
</div>

<div class="param">
  <div class="label">
    @if (isToday()) {
      Time left:
    } @else {
      Expired at:
    }
  </div>

  @if (isToday()) {
    <app-timer [expiredAt]="todo().expiredAt" />
  } @else {
    {{ todo().expiredAt | date: 'MMM dd, yyyy' }}
  }
</div>
