:root {
  --gj-radius-4: 4px;
  --gj-radius-6: 6px;
  --gj-radius-8: 8px;
  --gj-radius-12: 12px;
  --gj-radius-16: 16px;
  --gj-radius-20: 2px;
  --gj-radius-24: 24px;
  --gj-radius-28: 28px;
  --gj-radius-32: 32px;
}
