:root {
  --gj-space-2: 2px;
  --gj-space-4: 4px;
  --gj-space-6: 6px;
  --gj-space-8: 8px;
  --gj-space-12: 12px;
  --gj-space-16: 16px;
  --gj-space-20: 20px;
  --gj-space-24: 24px;
  --gj-space-28: 28px;
  --gj-space-32: 32px;
  --gj-space-36: 36px;
  --gj-space-40: 40px;
  --gj-space-44: 44px;
  --gj-space-48: 48px;
  --gj-space-52: 52px;
  --gj-space-56: 56px;
  --gj-space-60: 60px;
}
