<td>
  <!-- Тут можно было бы отслеживать, если обрезалось, то показать тултип при наведении -->
  <div class="title">
    {{ todo().title }}
  </div>
</td>

<td>
  {{ todo().createdAt | date: 'MMM dd, yyyy' }}
</td>

<td>
  @if (isToday()) {
    <app-timer [expiredAt]="todo().expiredAt" />
  } @else {
    {{ todo().expiredAt | date: 'MMM dd, yyyy' }}
  }
</td>

<td>
  <button class="button" [class.active]="todo().isFavorite" (click)="handleToggleFavorite()">
    <mat-icon fontIcon="favorite"></mat-icon>
  </button>
</td>

<td>
  <button class="button negative" (click)="handleDeleteTodo()">
    <mat-icon fontIcon="close"></mat-icon>
  </button>
</td>
