<td>
  <!-- Тут можно было бы отслеживать, если обрезалось, то показать тултип при наведении -->
  <div class="title">
    {{ todo().title }}
  </div>
</td>

<td>
  {{ todo().createdAt | date: 'MMM dd, yyyy' }}
</td>

<td>
  @if (isToday()) {
    <app-timer [expiredAt]="todo().expiredAt" />
  } @else {
    {{ todo().expiredAt | date: 'MMM dd, yyyy' }}
  }
</td>

<td>
  <button
    app-action-button
    icon="favorite"
    [class.active]="todo().isFavorite"
    (click)="handleToggleFavorite()"
  ></button>
</td>

<td>
  <button
    app-action-button
    negative
    icon="close"
    (click)="handleDeleteTodo()"
  ></button>
</td>
