<app-header-page titleName="Add ToDo">
  <a class="back" [routerLink]="previousUrl">
    <mat-icon fontIcon="chevron_left"></mat-icon>
  </a>
</app-header-page>

<form class="form" [formGroup]="form" (ngSubmit)="handleCreate()">
  <mat-form-field class="example-full-width">
    <mat-label>Title required</mat-label>

    <textarea
      matInput
      required
      formControlName="title"
      placeholder="Enter title"
      maxlength="100"
    ></textarea>

    @if (form.controls.title.hasError('required')) {
      <mat-error>
        Title is required
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Expiration date</mat-label>

    <input
      matInput
      required
      readonly
      formControlName="expiredAtDate"
      placeholder="Select date"
      [matDatepicker]="datepicker"
      [min]="minDate"
      (click)="datepicker.open()"
    >

    <mat-datepicker #datepicker />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Expiration time</mat-label>

    <input
      matInput
      readonly
      formControlName="expiredAtTime"
      placeholder="Select time"
      [ngxTimepicker]="timepicker"
    >

    <ngx-material-timepicker #timepicker />

    @if (form.controls.expiredAtTime.hasError('invalidTime')) {
      <mat-error>The selected time cannot be in the past.</mat-error>
    }
  </mat-form-field>

  <button mat-flat-button class="form__btn">
    Create
  </button>
</form>
