@use 'styles/index';

* {
  &::-webkit-scrollbar {
    width: .6rem;
    height: .6rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--gj-color-secondary);
    border-radius: var(--gj-radius-8);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gj-color-grey-90);
    border-radius: var(--gj-radius-4);
  }
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--gj-color-light);
  background: var(--gj-color-primary);
  margin: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

router-outlet {
  display: contents;
}

.container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  & > * {
    flex: 1;
  }
}
